.block1
        {
        color: mediumblue;
        width: 95%;
        top: 65%;
        font-size: 15px;
        }

.block2
        {
        color: mediumvioletred;
        width: 95%;
        top: 65%;
        font-size: 15px;
        }

.block3
        {
        color: forestgreen;
        width: 95%;
        top: 65%;
        font-size: 20px;
        }